<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #buyerForm="ngForm" (ngSubmit)="addBuyer(buyerForm)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="buyerService.selectedBuyer._id" />
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="name" #name="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.name" placeholder="Enter ur name" />
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="surname" #surname="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.surname" placeholder="Enter ur surname" />
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="idSeller" #idSeller="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.idSeller"
                                    placeholder="Enter ur seller Id" />
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="email" #email="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.email" placeholder="Enter ur email" />
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="dni" #dni="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.dni" placeholder="Enter ur dni" />
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="phoneNumber" #phoneNumber="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.phoneNumber"
                                    placeholder="Enter ur phone number" />
                            </div>
                            <div class="input-field col s12">
                                <input type="text" name="idVehicleToBuy" #idVehicleToBuy="ngModel"
                                    [(ngModel)]="buyerService.selectedBuyer.idVehicleToBuy"
                                    placeholder="Enter ur id of the vehicle" />
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn" (click)="resetForm(buyerForm)">
                                        Clean
                                    </button>
                                    <button class="btn right">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Name</th>
                    <th>idSeller</th>
                    <th>email</th>
                    <th>dni</th>
                    <th>phone</th>
                    <th>idVehicle</th>
                    <th>Edit/Delete</th>
                </thead>
            </table>
                <tbody>
                    <tr *ngFor="let buyer of buyerService.buyers">
                    <td>{{buyer.name}},{{ buyer.surname}}</td>
                    <td>{{buyer.idSeller}}</td>
                    <td>{{buyer.email}}</td>
                    <td>{{buyer.dni}}</td>
                    <td>{{buyer.phoneNumber}}</td>
                    <td>{{buyer.idVehicleToBuy}}</td>
                    <td><a (click)="editBuyer(buyer)">
                            <i class="material-icons">edit</i>
                        </a><a (click)="deleteBuyer(buyer._id)">
                            <i class="material-icons">delete</i>
                        </a></td>
                    </tr>
                </tbody>
        </div>
    </div>
</div>